In [1]:
import pandas as pd
# https://oranwind.org/python-pandas-ji-chu-jiao-xue/

## Remove & Add Column

In [14]:
a = pd.read_csv("PM25/Annan.csv", index_col=False)
a.head(5)

,PM25,PM10,rh,temp,so2,o3,rain,no,no2,nox,co,wd,ws,month,week,hr,preasure
0,21.0,53.0,80.0,15.0,1.9,26.0,0.0,0.7,11.0,12.0,0.28,344.0,2.7,1,1,0,1019.8
1,15.0,51.0,79.0,15.1,2.3,28.0,0.0,0.7,11.0,11.0,0.29,344.0,3.9,1,1,1,1019.8
2,25.0,65.0,80.0,15.2,1.8,33.0,0.0,0.9,8.8,9.7,0.27,338.0,3.4,1,1,2,1020.0
3,20.0,54.0,80.0,15.2,2.1,32.0,0.0,0.8,9.2,10.0,0.30,345.0,3.4,1,1,3,1019.7
4,22.0,51.0,81.0,15.1,1.5,29.0,0.0,0.7,10.0,11.0,0.27,343.0,3.2,1,1,4,1019.6

In [15]:
b = a.drop(["rh", "temp", "rain", "no", "nox", "wd", "ws", "preasure"], axis=1)
b.head(5)

   PM25  PM10  so2    o3   no2    co  month  week  hr
0  21.0  53.0  1.9  26.0  11.0  0.28      1     1   0
1  15.0  51.0  2.3  28.0  11.0  0.29      1     1   1
2  25.0  65.0  1.8  33.0   8.8  0.27      1     1   2
3  20.0  54.0  2.1  32.0   9.2  0.30      1     1   3
4  22.0  51.0  1.5  29.0  10.0  0.27      1     1   4

In [17]:
b["測站"] = "安南"
b["空品區"] = "雲嘉南"
b.head(5)

   PM25  PM10  so2    o3   no2    co  month  week  hr  測站  空品區
0  21.0  53.0  1.9  26.0  11.0  0.28      1     1   0  安南  雲嘉南
1  15.0  51.0  2.3  28.0  11.0  0.29      1     1   1  安南  雲嘉南
2  25.0  65.0  1.8  33.0   8.8  0.27      1     1   2  安南  雲嘉南
3  20.0  54.0  2.1  32.0   9.2  0.30      1     1   3  安南  雲嘉南
4  22.0  51.0  1.5  29.0  10.0  0.27      1     1   4  安南  雲嘉南

In [18]:
b.to_csv("Annan.csv", index=False)

## Remove First Line

In [3]:
a = pd.read_csv("csv/Banqiao.csv", index_col=False)
a.head(5)

   PM25  PM10  so2    o3   no2    co  month  week  hr  測站 空品區
0  15.0  17.0  2.0  30.0  13.0  0.37      1     1   0  板橋  北部
1  10.0  13.0  1.9  33.0  11.0  0.34      1     1   1  板橋  北部
2  10.0  11.0  1.0  35.0  10.0  0.31      1     1   2  板橋  北部
3  12.0  13.0  1.0  36.0   8.7  0.29      1     1   3  板橋  北部
4  12.0  22.0  1.1  37.0   8.9  0.30      1     1   4  板橋  北部

In [4]:
b = a.drop(0, axis=0)
b.head(5)

   PM25  PM10  so2    o3   no2    co  month  week  hr  測站 空品區
1  10.0  13.0  1.9  33.0  11.0  0.34      1     1   1  板橋  北部
2  10.0  11.0  1.0  35.0  10.0  0.31      1     1   2  板橋  北部
3  12.0  13.0  1.0  36.0   8.7  0.29      1     1   3  板橋  北部
4  12.0  22.0  1.1  37.0   8.9  0.30      1     1   4  板橋  北部
5   9.0  16.0  1.2  38.0   6.2  0.20      1     1   5  板橋  北部

In [5]:
b.to_csv(f"Banqiao.csv", index=False, header=False)

In [6]:
def csv_modify(file, loc, zone, header=False):
    b = pd.read_csv(f"csv/{file}.csv")
    #b = a.drop(["rh", "temp", "rain", "no", "nox", "wd", "ws", "preasure"], axis=1)
    b["測站"] = loc
    b["空品區"] = zone
    b.to_csv(f"{file}.csv", index=False, header=header)

In [7]:
csv_modify("Annan", "安南", "雲嘉南", True)

KeyError: "['rh' 'temp' 'rain' 'no' 'nox' 'wd' 'ws' 'preasure'] not found in axis"

In [24]:
csv_modify("Banqiao", "板橋", "北部")

In [25]:
csv_modify("Cailiao", "菜寮", "北部")

In [26]:
csv_modify("Changhua", "彰化", "中部")

In [27]:
csv_modify("Chaozhou", "潮州", "高屏")

In [28]:
csv_modify("Chiayi", "嘉義", "雲嘉南")

In [29]:
csv_modify("Dali", "大里", "中部")

In [30]:
csv_modify("Daliao", "大寮", "高屏")

In [33]:
csv_modify("Datong", "大同", "北部")

In [34]:
csv_modify("Dayuan", "大園", "北部")

In [96]:
csv_modify("Dongshan", "冬山", "宜蘭")

In [46]:
csv_modify("Douliu", "斗六", "雲嘉南")

In [45]:
csv_modify("Erlin", "二林", "中部")

In [37]:
csv_modify("Fengshan", "鳳山", "高屏")

In [38]:
csv_modify("Fengyuan", "豐原", "中部")

In [39]:
csv_modify("FugueiCape", "富貴角", "北部")

In [44]:
csv_modify("Fuxing", "復興", "高屏")

In [41]:
csv_modify("Guanshan", "關山", "花東")

In [42]:
csv_modify("Guanyin", "觀音", "北部")

In [43]:
csv_modify("Guanyin", "古亭", "北部")

In [47]:
csv_modify("Hengchun", "恆春", "高屏")

In [48]:
csv_modify("Hsinchu", "新竹", "竹苗")

In [49]:
csv_modify("Hualien", "花蓮", "花東")

In [50]:
csv_modify("Hukou", "湖口", "竹苗")

In [51]:
csv_modify("Keelung", "基隆", "北部")

In [52]:
csv_modify("Kinmen", "金門", "外島")

In [53]:
csv_modify("Linkou", "林口", "北部")

In [54]:
csv_modify("Linyuan", "林園", "高屏")

In [55]:
csv_modify("Longtan", "龍潭", "北部")

In [56]:
csv_modify("Lunbei", "崙背", "雲嘉南")

In [57]:
csv_modify("Magong", "馬公", "外島")

In [58]:
csv_modify("Mailiao", "麥寮", "雲嘉南")

In [59]:
csv_modify("Matsu", "馬祖", "外島")

In [60]:
csv_modify("Meinong", "美濃", "高屏")

In [61]:
csv_modify("Miaoli", "苗栗", "竹苗")

In [62]:
csv_modify("Nantou", "南投", "中部")

In [63]:
csv_modify("Nanzi", "楠梓", "高屏")

In [64]:
csv_modify("Pingtung", "屏東", "高屏")

In [65]:
csv_modify("Pingzhen", "平鎮", "北部")

In [66]:
csv_modify("Puli", "埔里", "中部")

In [67]:
csv_modify("Puzi", "朴子", "雲嘉南")

In [68]:
csv_modify("Qianjin", "前金", "高屏")

In [69]:
csv_modify("Qianzhen", "前鎮", "高屏")

In [70]:
csv_modify("Qiaotou", "橋頭", "高屏")

In [71]:
csv_modify("Renwu", "仁武", "高屏")

In [72]:
csv_modify("Sanchong", "三重", "北部")

In [73]:
csv_modify("Sanyi", "三義", "竹苗")

In [74]:
csv_modify("Shalu", "沙鹿", "中部")

In [75]:
csv_modify("Shanhua", "善化", "雲嘉南")

In [76]:
csv_modify("Shilin", "士林", "北部")

In [77]:
csv_modify("Songshan", "松山", "北部")

In [78]:
csv_modify("Tainan", "臺南", "雲嘉南")

In [79]:
csv_modify("Taitung", "臺東", "花東")

In [80]:
csv_modify("Taixi", "臺西", "雲嘉南")

In [81]:
csv_modify("Tamsui", "淡水", "北部")

In [82]:
csv_modify("Taoyuan", "桃園", "北部")

In [83]:
csv_modify("Toufen", "頭份", "竹苗")

In [84]:
csv_modify("Tucheng", "土城", "北部")

In [85]:
csv_modify("Wanhua", "萬華", "北部")

In [86]:
csv_modify("Wanli", "萬里", "北部")

In [87]:
csv_modify("Xianxi", "線西", "中部")

In [88]:
csv_modify("Xiaogang", "小港", "高屏")

In [89]:
csv_modify("Xindian", "新店", "北部")

In [90]:
csv_modify("Xingang", "新店", "雲嘉南")

In [91]:
csv_modify("Xinying", "新營", "雲嘉南")

In [92]:
csv_modify("Xinzhuang", "新莊", "北部")

In [93]:
csv_modify("Xitun", "西屯", "中部")

In [94]:
csv_modify("Xizhi", "汐止", "北部")

In [95]:
csv_modify("Yangming", "陽明", "北部")

In [97]:
csv_modify("Yilan", "宜蘭", "宜蘭")

In [98]:
csv_modify("Yonghe", "永和", "北部")

In [99]:
csv_modify("Zhongli", "中壢", "北部")

In [100]:
csv_modify("Zhongming", "忠明", "中部")

In [101]:
csv_modify("Zhongshan", "中山", "北部")

In [102]:
csv_modify("Zhudong", "竹東", "竹苗")

In [103]:
csv_modify("Zhushan", "竹山", "中部")

In [104]:
csv_modify("Zuoying", "左營", "高屏")